@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}

/* Introduction styling */
section.intro {
  background-image: url(https://github.com/tiy-tpa-fee/fee-c6/blob/master/assignments/portfolio/assets/space.png?raw=true);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

div.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60em;
  padding-top: 10em;
}

div.header img {
  border-radius: 0.2em;
  position: relative;
  margin-bottom: 3em;
}

div.header div.intro-p {
  background-color: rgba(255, 255, 255, 0.73);
  height: 8em;
  width: 28em;
  margin-left: 1.5em;
  margin-top: -1.2em;
  border-radius: 0.2em;
  padding: 0 1.2em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.header div.intro-p h2 {
  font-family: 'Sansita One', cursive;
  font-size: 2.4em;
  margin-top: 0.6em;
  margin-bottom: 0;
}

div.header div.intro-p p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

div.header div.intro-p::after {
  content: '';
  background-image: url('https://github.com/tiy-tpa-fee/fee-c6/blob/master/assignments/portfolio/assets/tri.png?raw=true');
  opacity: 0.73;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 22px;
}

/* Portfolio section styling */
div.portfolio {
  margin-top: 2.3em;
  width: auto;
}

div.portfolio ul {
  background-color: rgba(0, 0, 0, 0.58);
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: 55px;
}

div.portfolio li {
  padding: 30px 18px;
}

div.portfolio img {
  width: 280px;
  height: 230px;
  margin: 0;
  padding: 0;
  border-radius: 1em;
}

/* Article-Blog styling */
section.blog {
  background-color: #001424;
  padding: 1.5em;
}

div.article {
  position: relative;
  margin-bottom: 1.5em;
  border: 1px solid #333;
  padding: 0;
  border-radius: 0.4em;
  background-color: #fff;
}

div.article-headerone {
  background-image: url(https://github.com/tiy-tpa-fee/fee-c6/blob/master/assignments/portfolio/assets/react.png?raw=true);
  background-color: #001424;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60px;
  border-radius: 0.2em 0.2em 0 0;
}

div.article-headertwo {
  background-image: url(https://github.com/tiy-tpa-fee/fee-c6/blob/master/assignments/portfolio/assets/code.png?raw=true);
  background-color: #001424;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60px;
  border-radius: 0.2em 0.2em 0 0;
}

section.blog div.article div.article-content {
  background-color: #fff;
  border-radius: 0.3em;
}

div.article-content div.blog-time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 2.2em;
  margin-bottom: -0.8em;
}

div.article-content div.blog-time h3 {
  font-family: 'Sansita One', cursive;
  font-size: 1.6em;
}

div.article-content div.blog-time p {
  font-family: 'Roboto', sans-serif;
  margin-top: 2.8em;
  font-size: 0.8em;
  font-weight: bold;
}

div.article-content p {
  padding: 0 2em;
  font-family: 'Roboto', sans-serif;
  margin-top: -0.2em;
}

div.article-content a {
  background-color: hsla(207, 74%, 23%, 1);
  padding: 10px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: -10px;
  border: 1px solid hsla(207, 74%, 23%, 1);
  border-radius: 0.3em;
  font-family: 'Sansita One', cursive;
}

.more:link,
.more:visited {
  color: white;
  text-decoration: none;
}

/* footer styling */
footer {
  background-color: hsla(207, 74%, 23%, 1);
  background-color: #001424;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -1em;
}

footer div.social-box a {
  width: 3em;
  height: 3em;
}

div.social-box i {
  text-decoration: none;
  color: #fff;
}

footer p.copyright {
  color: #fff;
  width: 37em;
  font-family: 'Roboto', sans-serif;
  margin-top: 1.9em;
  font-size: 0.8em;
}

footer p.stay {
  color: #fff;
  font-family: 'Sansita One', cursive;
  font-size: 3em;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

/* Icon styling */
.icons:link,
.icons:visited {
  color: white;
  text-decoration: none;
  padding: 0.5em;
}

.icons {
  font-size: 2.5em;
}
